<div>
  <h2 class="signup">Sign Up</h2>

  <form class="form signup-form">
    <div class="form-group">
      <input class="form-input" type="text" placeholder="Username" id="username-signup" />
    </div>

    <div class="form-group">
      <input class="form-input" type="password" placeholder="Password" id="password-signup" />
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">Signup</button>
    </div>
  </form>
  <div>
    <a href="/login">Login Instead</a>
  </div>
</div>

<script src="./js/signUp.js"></script>